@model BookStore.WebClient.ViewModels.ListOrderItemViewModel

@{
    ViewBag.Title = "ListOrderItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Active Order Items</h2>

<table>
    <tr>
        <th></th>
    </tr>
    @foreach (var item in Model.OrderItems)
    {
        <tr>
            <td>
                Order ID: @item
            </td>
            <td>
                @using (Html.BeginForm("DeleteOrder", "Order"))
                {
                    @Html.Hidden("pOrderId", item)
                    @Html.Hidden("pReturnUrl", ViewContext.HttpContext.Request.Url.PathAndQuery)
                    <input type="submit" value="Delete Order" />
                }
            </td>
        </tr>
    }
</table>
