@{
    ViewBag.Title = "Order Cancellation Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Cancellation Confirmation</h2>

<p>Thank you for your request, you will receive an email regarding the outcome of this cancellation</p>

