@model BookStore.WebClient.ViewModels.CheckOutViewModel
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check Out</h2>



<p>Thankyou @Model.UserName for shopping at the Book Store</p>
<p>Your order has been generated, and you will soon get an email about its outcome!</p>
