@model BookStore.WebClient.ViewModels.InsufficientBalance


@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You have insufficient balance in your bank account</h2>

